.hero {
    width: 100%;
    background-color: white;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100ww;
    margin: 0;
}

.text-image {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0px 16px 0px 16px;
}

.title {
    text-align: center;
    font-size: 66px;
    color: #FF32C1;
}

.hero_1-contaner img {
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: auto;
}

.text-image p {
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    font-size:larger;
}

